
@media (max-width: 768px) {

    nav {
        display: flex;
        flex-direction: row-reverse;
    }

    .gamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }

    .gamburger:hover {
        cursor: pointer;
    }

    .gam-item {
        width: 23px;
        height: 3px;
        margin-bottom: 4px;
        background-color: #ffffffcc;
    }

    .header {
        margin-bottom: 89px;
    }

    .header-promo {
        background: url(../images/background_tablet.png);
        min-height: 392px;
        margin-bottom: 44px;
    }

    .header-content {
        padding: 44px 35px 0;
        justify-content: space-between;
    }

    .logo-header {
        height: 36px;
    }

    .menu-list__header {
        visibility: hidden;
    }

    .promo {
        font-size: 40px;
        line-height: 55px;
    }

    .trends {
        margin-bottom: 51px;
    }

    .title {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .title::before {
        left: 46%;
    }

    .trends__items {
        flex-wrap: wrap;
    }

    .trends__item {
        width: 49.8%;
        max-height: 247px;;
    }

    .trends__item:nth-child(-n + 2) {
        margin-bottom: 0.3%;
    }

    .trends__item-group {
        padding: 30px 36px 29px 28px;
    }

    .trends__item-group h2 a {
        font-size: 17px;
        line-height: 22px;
    }

    .main {
        padding: 0px 0px 0px 35px;
        margin-bottom: 48px;
        justify-content: space-between;
    }

    .post-list {
        max-width: 393px;
        margin: 0;
    }

    .post-item {
        flex-direction: column;
        margin-bottom: 52px;
    }

    .post-item-img {
        height: 303px;
        margin-bottom: 10px;
    }

    .post-item h2 {
        line-height: 22px;
        margin-bottom: 28px;
    }

    .post-item h2 a {
        font-size: 17px;
        line-height: 0;
    }

    .content-post-item {
        margin-left: 0;
        bottom: 0;
    }

    .content-post-item > p:nth-of-type(1) {
        margin-top: 26px;
        margin-bottom: 12px;
    }

    .aside {
        margin-right: 6px;
    }

    .new-posts {
        margin-bottom: 40px;
    }

    .aside-item-info {
        padding-top: 0;
        bottom: 0;
    }

    .shop {
        padding: 0 35px;
        margin-bottom: 38px;
    }

    .shop-offer {
        flex-wrap: wrap;
    }

    .card {
        width: 48%;
    }

    .card:nth-child(3) {
        position: relative;
        bottom: 14px;
    }

    .card:nth-child(3) .card-content {
        height: 240px;
    }
    
    .card-content {
        padding: 50px 20px 0px 17px;
        width: auto;
    }

    .card-content .title {
        font-size: 17px;
    }

    .shop .title::before {
        left: 45.3%
    }

    .footer {
        padding: 0 35px 40px;
    }

    .social {
        min-width: 100%;
        margin-bottom: 46px;
    }
}

@media (max-width: 1659px) and (min-width: 769px) {

    .header-promo {
        background-position: top;
        margin-bottom: 35px;
    }

    .shop-offer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .trends__item {
        height: 20vw;
        padding: 0px 15px 20px;
        background-size: cover;
    }

    .trends__item-group {
        padding: 1vw 1vw 1vw 1vw;
    }

    .trends__item-group h2 a {
        font-size: 1.5vw;
    }

    .main {
        padding: 50px 13vw 0 16vw;
    }

    .post-list {
        margin-right: 10%;
    }

    .post-item {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .post-item-img {
        max-width: 381px;
        margin-bottom: 20px;
    }

    .content-post-item {
        margin: 0;
        max-width: 373px;
    }

    .content-post-item > p:nth-of-type(1) {
        margin-top: 23px;
        margin-bottom: 11px;
    }

    .footer {
        padding: 0 13vw 40px 16vw;
    }
}

@media (max-width: 360px) {

    .header {
        margin-bottom: 35px;
    }

    .header-promo {
        background: url(../images/background_mobile.png);
        min-height: 639px;
        margin-bottom: 38px;
    }

    .header-content {
        flex-direction: column-reverse;
        padding: 27px 16px 0;
    }

    nav {
        margin-bottom: 166px;
    }

    .logo-header {
        height: 61px;
        width: 269px;
        margin: 0 auto;
    }

    .promo {
        font-size: 26px;
        line-height: 36px;
        padding: 0 30px;
    }

    .title {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .trends {
        margin-bottom: 42px;
    }

    .trends__items {
        flex-direction: column;
    }

    .trends__item {
        width: 100%;
        max-height: 233px;
        margin-bottom: 0.3%;
        padding: 0 15px 17px;
    }

    .trends__item-group h2 a {
        font-size: 16px;
        line-height: 20px;
        padding: 0;
    }

    .trends__item-group h2 {
        margin-top: 7px;
    }

    .trends__item-group {
        padding: 27px 28px 26px 17px;
    }    

    .main {
        flex-direction: column;
        padding: 0px 15px;
        margin-bottom: 24px;
    }

    .post-list {
        max-width: 100%;
        margin-bottom: 60px;
    }

    .post-item {
        margin-bottom: 56px;
    }

    .post-item-img {
        height: 254px;
        margin-bottom: 12px;
        min-width: 329px;
    }

    .post-item h2 {
        line-height: 20px;
        margin-bottom: 15px;
    }

    .post-item h2 a {
        font-size: 16px;
    }

    .content {
        font-size: 14px;
        line-height: 20px;
    }

    .content-post-item > p:nth-of-type(1) {
        margin: 0;
        padding-top: 16px;
        padding-right: 5px;
    }

    .content-post-item > p:nth-of-type(n + 2) {
        padding-top: 4px;
    }

    .aside {
        width: 100%;
        margin: 0;
    }

    .aside-title {
        font-size: 16px;
        right: 0;
        bottom: 0;
        margin-bottom: 38px;
    }

    .break {
        display: inline;
    }

    .search {
        margin-bottom: 37px;
    }

    .search-input {
        width: 100%;
    }

    .mailing-input {
        width: 100%;
    }

    .mailing-button {
        width: 100%;
    }
    
    .mailing {
        margin-bottom: 38px;
    }

    .tag {
        margin-bottom: 8px;
        margin-right: 6px;
        padding: 2px 13px 4px 11px;
    }
    
    .tags {
        margin-bottom: 31px;
    }

    .topics {
        position: relative;
        bottom: 4px;
    }

    .topics-item {
        padding-bottom: 25px;
    }

    .shop {
        padding: 0 14px;
        margin-bottom: 38px;
    }

    .shop .title::before {
        left: 39.8%;
        bottom: -13px;
    }

    .shop-offer {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .card-content {
        padding: 50px 20px 0px 17px;
        width: 100%;
    }
}