@media (min-width: 1201px) and (max-width: 1659px) {

    .header-promo {
        background-position: top;
        margin-bottom: 35px;
    }

    .shop-offer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .trends__item {
        height: 20vw;
        padding: 0px 15px 20px;
        background-size: cover;
    }

    .trends__item-group {
        padding: 1vw 1vw 1vw 1vw;
    }

    .trands__title-link {
        font-size: 1.5vw;
    }

    .main {
        padding: 50px 13vw 0 16vw;
    }

    .post-list {
        margin-right: 10%;
    }

    .post-item {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .post-item-img {
        max-width: 381px;
        margin-bottom: 20px;
    }

    .content-post-item {
        margin: 0;
        max-width: 373px;
    }

    .first-paragraph {
        margin-top: 23px;
        margin-bottom: 11px;
    }

    .footer {
        padding: 0 13vw 40px 16vw;
    }
}


@media (min-width: 641px) and (max-width: 1200px) {

    .navigation {
        display: flex;
        flex-direction: row-reverse;
    }

    .gamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }

    .gamburger:hover {
        cursor: pointer;
    }

    .gam-item {
        width: 23px;
        height: 3px;
        margin-bottom: 4px;
        background-color: #ffffffcc;
    }

    .header {
        margin-bottom: 89px;
    }

    .header-promo {
        background-image: url(../images/background_tablet.png);
        min-height: 392px;
        margin-bottom: 44px;
    }

    .header-content {
        padding: 44px 35px 0;
        justify-content: space-between;
    }

    .logo-header {
        height: 36px;
    }

    .menu-list__header {
        display: none;
    }

    .promo {
        font-size: 40px;
        line-height: 55px;
    }

    .trends {
        margin-bottom: 51px;
    }

    .title {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .trends__items {
        flex-wrap: wrap;
    }

    .trends__item {
        flex: 1 1 calc(100% / 3);
        max-height: 247px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .trends__item-one,
    .trends__item-two {
        margin-bottom: 0.3%;
    }

    .trends__item-group {
        padding: 30px 36px 29px 28px;
    }

    .trands__title-link {
        font-size: 17px;
        line-height: 22px;
    }

    .main {
        padding: 0px 10vw;
        margin-bottom: 48px;
        justify-content: space-between;
    }

    .post-list {
        max-width: 393px;
        margin: 0;
        margin-right: 10px;
    }

    .post-item {
        flex-direction: column;
        margin-bottom: 52px;
    }

    .post-item-img {
        margin-bottom: 10px;
    }

    .post-item-title {
        line-height: 22px;
        margin-bottom: 28px;
    }

    .post-item__title-link {
        font-size: 17px;
        line-height: 0;
    }

    .content-post-item {
        margin-left: 0;
        bottom: 0;
    }

    .first-paragraph {
        margin-top: 26px;
        margin-bottom: 12px;
    }

    .aside {
        margin-right: 6px;
    }

    .new-posts {
        margin-bottom: 40px;
    }

    .aside-item-info {
        padding-top: 0;
        bottom: 0;
    }

    .shop {
        padding: 0 35px;
        margin-bottom: 38px;
    }

    .shop-offer {
        flex-wrap: wrap;
    }

    .card {
        width: 48%;
    }

    .post-item-img {
        max-width: 393px;
        max-height: 303px;
    }

    .card:last-child {
        position: relative;
        bottom: 14px;
    }

    /* .card:nth-child(3) .card-content {
        height: 240px;
    }
     */
    .card-content {
        padding: 50px 20px 0px 17px;
        width: auto;
    }

    .card-content .title {
        font-size: 17px;
    }



    .footer {
        padding: 0 35px 40px;
    }

    .social {
        min-width: 100%;
        margin-bottom: 46px;
    }
}


@media (min-width: 769px) {
    .header-promo {
        background-image: url(../images/background.png);
        min-height: 392px;
        margin-bottom: 44px;
    }
}



@media (max-width: 640px) {

    .header {
        margin-bottom: 35px;
    }

    .header-promo {
        background-image: url(../images/background_mobile.png);
        min-height: 639px;
        margin-bottom: 38px;
    }

    .header-content {
        flex-direction: column-reverse;
        padding: 33px 16px 0;
    }


    .navigation {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 170px;
    }

    .menu-list__header {
        display: none;
    }

    .gamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }

    .gamburger:hover {
        cursor: pointer;
    }

    .gam-item {
        width: 23px;
        height: 3px;
        margin-bottom: 4px;
        background-color: #ffffffcc;
    }

    .logo-header {
        height: 61px;
        width: 269px;
        margin: 0 auto;
    }

    .promo {
        font-size: 26px;
        line-height: 36px;
        padding: 0 30px;
    }

    .title {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .trends {
        margin-bottom: 42px;
    }

    .trends__items {
        flex-direction: column;
    }

    .trends__item {
        width: 100%;
        max-height: 233px;
        margin-bottom: 0.3%;
        padding: 15px 17px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .trands__title-link {
        font-size: 16px;
        line-height: 19px;
        padding: 0;
    }

    .trands__item-title {
        margin-top: 7px;
    }

    .trends__item-group {
        padding: 29px 27px 26px 18px;
        width: 100%;
    }    

    .main {
        flex-direction: column;
        padding: 0px 15px;
        margin-bottom: 27px;
    }

    .post-list {
        max-width: 100%;
        margin-bottom: 60px;
    }

    .post-item {
        margin-bottom: 54px;
        position: relative;
        flex-direction: column;
    }

    .post-item::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
        bottom: -22px;
    }

    .post-item-img {
        /* height: 254px; */
        margin: 0 auto;
        margin-bottom: 13px;
        /* min-width: 290px; */
    }

    .post-item-title {
        line-height: 19px;
        margin-top: 6px;
        margin-bottom: 15px;
    }

    .post-item__title-link {
        font-size: 16px;
        line-height: 19px;
    }

    .content {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        text-align: center;
    }

    .first-paragraph {
        padding-top: 13px;
        padding-right: 5px;
        margin: 0;
    }

    .next-paragraph {
        padding-top: 4px;
    }

    .aside {
        width: 100%;
        margin: 0;
    }

    .aside-title {
        font-size: 16px;
        right: 0;
        bottom: 0;
        margin-bottom: 38px;
    }

    .break {
        display: inline;
    }

    .search {
        margin-bottom: 37px;
    }

    .search-input {
        width: 100%;
    }

    .mailing-input {
        width: 95%;
    }

    .mailing-button {
        width: 100%;
    }
    
    .mailing {
        margin-bottom: 38px;
    }

    .tag {
        margin-bottom: 8px;
        margin-right: 6px;
        padding: 2px 13px 4px 11px;
    }
    
    .tags {
        margin-bottom: 31px;
    }

    .topics {
        position: relative;
        bottom: 4px;
    }

    .topics-item {
        padding-bottom: 25px;
    }

    .shop {
        padding: 0 14px;
        margin-bottom: 14px;
    }

    .shop .title {
        margin-bottom: 41px;
    }

    .shop .title::before {
        bottom: -13px;
    }

    .shop-offer {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: -5px;
    }

    .card-content .title {
        margin-bottom: 5px;
        font-size: 17px;
        text-align: center;
    }

    .card-img {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 0;
    }

    .card-content {
        padding: 48px 24px 27px 18px;
        width: 100%;
        height: auto;
        position: relative;
        bottom: 34px;
        margin: 0;
    }

    .shop .content {
        font-size: 15px;
    }

    /* .card:nth-child(3) {
        position: inherit;
        bottom: 14px;
    } */

    .footer {
        padding: 0 14px 46px;
        
    }

    .social {
        margin-bottom: 45px;
    }
}

